*{ /*Garante que os elementos respeitem as dimensões quando possuem padding*/
    box-sizing: border-box;
}

body{
    font-family: "Arial", sans-serif;
    margin: 0;
}
.my-button{
    background-color:#4caf50;
    border: none;
    color: white;
    /*vertical e horizontal*/
    padding: 16px 24px;
    font-size: 16px;    
    margin:6px 4px;
    cursor: pointer; /*icone de clique*/
    border-radius: 6px;
}
.my-button:hover{
    background-color: cadetblue;
}
.blue{
    background-color: cornflowerblue;
}
/* estilia o td/th dentro do my-table */
.my-table{
    width: 400px;
    border-collapse: collapse; /*junta as bordas*/
    margin: auto;
}
.my-table td, .my-table th{
    border: 1px solid #ddd;
    padding:8px
}
.my-table th{
    background-color: cornflowerblue;
    padding: 12px 0;
    color: white;
}
.my-table tr:hover{
    background-color:#ddd;
}
/*even = par*/
/*aplica o estilo aos tr de numero par */
/*# = hexadecimal indica as cores*/
.my-table tr:nth-child(even){
    background-color: #f2f2f2;
}

.my-table tr:hover{
    background-color: #ddd;
}

.my-table td{
    text-align: center; /*centraliza O TEXTO*/
    height:  50px;
}

/* Custom form*/
/*borde radius no form é toda a caixa do codigo*/
.my-form{
    border-radius: 6px;
    background-color: #f2f2f2;
    padding:20px 16px;
    width: 300px;
    margin: auto;
}
.my-form input{
    width: 100%;
    padding: 12px 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.toda-largura{
    width: 100%;
    margin: 6px 0;
}

.my-form-group{
    margin-bottom: 6px;
}

h2,h3 {
    text-align: center;

}